<div class="search-wrapper hide-it" id="searchPage" data-search="page">
  <div class="close-page" data-openpage="searchPage" data-btn="searchButton">&times;</div>
  <div class="input-wrapper">
    <input type="text" data-search="input" class="search-input">
  </div>
  <h1 class="text-center">VIRKER IKKE! KOMMER SNART</h1>
</div>

