<div class="search-wrapper hide-it" id="searchPage" data-search="page">
  <div class="close-page" data-openpage="searchPage" data-btn="searchButton">&times;</div>
  <div class="input-wrapper">
    <input type="text" data-search="input" class="search-input">
  </div>
  <h1 class="text-center">VIRKER IKKE!</h1>
  <h2 class="text-center">Kommer måske i morgen, hvis jeg ikke har for mange tømmermænd. <br><a href="https://hilsen.it/" target="_blank">Hilsen IT</a></h2>
</div>

