<div class="search-wrapper hide-it" data-search="page">
  <div class="close-page" data-search="close">&times;</div>
  <div class="input-wrapper">
    <input type="text" data-search="input" class="search-input">
  </div>
</div>

