<div class="half">
  <h1>Alle temaer</h1>
</div>
<% @themes.each do |theme| %>
  <%= link_to theme_works_path(theme.id) do %>
    <%= image_tag theme.cover_image.thumb.url if theme.cover_image.present? %>
    <h3> <%= theme.title %> </h3>
  <% end %>
<% end %>

