<style type="text/css">@media screen and (min-width: 800px) { #searchButton { color: white!important } }</style><!-- for the "Søg" color -->
<span data-theme-id="true" theme-id="<%= @theme.id %>" work-id="<%= @current_work.id if @current_work.present? %>" hidden></span>
<content>Loading...</content>
<%= javascript_pack_tag 'content' %>

