<style type="text/css">#searchButton { color: white!important }</style>
<span data-theme-id="true" theme-id="<%= @theme.id %>" hidden></span>
<content>Loading...</content>
<%= javascript_pack_tag 'hello_angular' %>

