<style type="text/css">#searchButton { color: white!important }</style>
<span data-theme-id="true" theme-id="<%= @theme.id %>" work-id="<%= @current_work.id if @current_work.present? %>" hidden></span>
<content>Loading...</content>
<%= javascript_pack_tag 'content' %>

