<h2 class="text-center">Content for '<%= @theme.title %>'</h2>
<% @works.each do |work| %>
  <%= link_to theme_work_path(work.theme.id, work.id) do %>
    <%= work.title %><br>
    <div class="small"> || <%= work.type_of_content %> </div>
  <% end %>
<% end %>
