<nav class="container ">
  <div class="nav-half">
    <span class="odyssey-logo"></span>
    <h1 class="nav-link">
      <%= link_to "Papercut satelit projekt", root_path() %>
    </h1>
  </div>
  <div class="nav-half right-half">
    <a href="#" data-toggle="menu" class="nav-link">Menu</a>
    <a href="#" id="searchButton" data-search="openOrHide" class="nav-link right">Søg</a>
  </div><!-- nav-half -->
</nav>
