<nav class="navbar">
  <div class="nav-half project-name-wrapper">
    <div class="nav-close-area hide-it" data-btn="menuBtnMobile" data-openpage="menuWrapper" id="closeArea"></div>
    <span id="menuBtnMobile" data-btn="menuBtnMobile" data-openpage="menuWrapper" class="only-on-mobile btn-mobile menu-btn-mobile"></span>
    <h1 class="nav-link project-name">
    <span class="odyssey-logo"></span>
      <%= link_to "ODYSSEY", root_path() %>
    </h1>
  </div>
  <div class="nav-half right-half not-on-mobile">
    <span id="menuBtn" data-btn="menuBtn" data-openpage="menuWrapper" class="nav-link not-on-mobile">Menu</span>
    <a href="#" id="searchButton" data-openpage="searchPage" data-btn="searchButton" class="nav-link right not-on-mobile">Søg</a>
  </div><!-- nav-half -->
</nav>
