<style type="text/css">
  .navbar .nav-half  .project-name a  {
    color: #64343c!important;
  }
</style>

<div class="half">
  <h1>Bidrag</h1>

</div>
<% if @bidrag_left && @bidrag_right %>


<% end %>
