<style type="text/css">
  .navbar .nav-half  #menuBtn  {
    color: #64343c!important;
  }
  .navbar .nav-half  #searchButton  {
    color: #64343c!important;
  }
</style>

<% if @om_title || @om_text %>
<div class="half om float-left">
  <h1><%= @om_title %></h1>
  <div class="om-text">
    <%= @om_text.html_safe %>
  </div>
</div>
<div class="half om other-bg float-left">
  <div class="three-columns-wrapper">
    <div class="one-column half float-left">

      Papercut Issues<br>
      CVR nr. 37413623<br>

      Peter Fabers Gade 18, 4. th<br>
      2200 København N <br>
      Denmark					<br>

      hello@papercutissues.dk</div>
    <div class="one-column half float-left">

      Team Papercut <br>
      Miss Universe <br>
      (+45) 29475250 kirstine@papercutissues.dk<br><br>
      Mistress of the Galaxy <br>
      Mia Carl <br>
      Projekt Odyssey<br><br>
      Queen of the world <br>
      Emilie Holm Sandholdt<br><br>
      Grafisk designer<br>
      Kristel Clément
    </div>
    <div class="one-column full-width">
    </div>
  </div>
</div>
<% else %>
  <div class="half">
    <h3 class="text-center">Ikke noget om-content endnu! </h3>
  </div>
<% end %>
