$primary-bg: #e5e4db;
$the-orange: #ac831b;
$news-line-bg: #c4e936;
$dark-blue: #64343c;
$border-color: #8c867d;
$news_line: #c3eb16;
$info-font: #5c514c;
$gray-overview: #8c867d;
$work-overview-background: #9aaf7e;



