@font-face {
  font-family: "CircularStd-Book"; 
  src: font-url('CircularStd-Book.ttf') format('truetype'),
  font-url('CircularStd-Book.woff') format('woff');
}
@font-face {
  font-family: "CircularStd-BookItalic";
  src: font-url('CircularStd-BookItalic.ttf') format('truetype'),
  font-url('CircularStd-BookItalic.woff') format('woff');
}
@font-face {
  font-family: "CircularStd-Medium";
  src: font-url('CircularStd-Medium.ttf') format('truetype'),
  font-url('CircularStd-Medium.woff') format('woff');
}
@font-face {
  font-family: "CircularStd-MediumItalic";
  src: font-url('CircularStd-MediumItalic.ttf') format('truetype'),
  font-url('CircularStd-MediumItalic.woff') format('woff');
}
