@import "imports/mixins";
@import "imports/colors";

nav {
  @include flex;
  width: 100%;
  padding: 0 30px;
}
.nav-half {
  margin-top: 6px;
  width: 50%;
  h1 {
    text-transform: none;
  }
  .nav-link {
    display: inline-block;
    font-family:  "CircularStd-Book";
    color: $the-orange;
    font-size: 1.2rem;
    margin-top: 12.8px;
    margin-bottom: 12.8px;
  }
  .right {
    float: right;
  }
  .active {
    text-decoration: underline;
  }
}
.right-half {
  padding: 0 30px;
}
.menu-wrapper-open {
  height: 300px!important;
}
.menu-wrapper {
  @include transition(height .4s linear);
  @include flex;
  z-index: 999999;
  overflow: hidden;
  height: 0;
  position: absolute; 
  max-width: 600px;
  top: 30px;
  right: 0px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  .menu-box {
    @include flex;
    width: 130px;
    height: 120px;
    margin: 9px;
    align-items: center;
    justify-content: center;
    &:hover {
      text-decoration: underline;
    }
  }
  .white-orange {
    background-color: white;
    color: $the-orange;
  }
  .black-blue {
    background-color: black;
    color: $dark-blue;
  }
}
