@import "imports/mixins";
@import "imports/colors";

nav {
  @include flex;
  width: 100%;
  padding: 0 20px;
}
.navbar {
  z-index: 959; // Under #closeInfoBox, but above info-column
}
.nav-half {
  margin-top: 6px;
  width: 50%;
  h1 {
    text-transform: none;
  }
  .nav-link {
    display: inline-block;
    font-family:  "CircularStd-Book";
    color: $the-orange;
    font-size: 1.2rem;
    margin-top: 12.8px;
    margin-bottom: 12.8px;
  }
  .right {
    float: right;
  }
  .active {
    text-decoration: underline;
  }
}
.right-half {
    padding-left: 45px;
}
.menu-wrapper-open {
  height: 350px!important;
}
.menu-wrapper {
  @include transition(height 0s linear);
  @include flex;
  z-index: 999999;
  overflow: hidden;
  height: 0;
  position: absolute; 
  max-width: 600px;
  top: 25px;
  right: 0px;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  .menu-box {
    @include flex;
    width: 130px;
    height: 120px;
    margin: 9px;
    align-items: center;
    justify-content: center;
    &:hover {
      text-decoration: underline;
    }
  }
  .white-orange {
    background-color: white;
    color: $the-orange;
  }
  .black-blue {
    background-color: black;
    color: $dark-blue;
  }
  .so-me-menu {
    width: 100%;
    .cirkel {
      @include border-radius(100%);
      color: #e4e4da;
      background-color: $the-orange;
      display: inline-block;
      font-size: 12px;
      height: 65px;
      line-height: 67px;
      margin: 0 3px;
      text-align: center;
      overflow: hidden;
      width: 62px;
      &:hover {
        text-decoration: underline;
      }

    }
  }
}

