/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

/* MEDIA SCREEN WITH BREAK IS 800 PX ! */
@import "imports/fonts";
@import "imports/colors"; // primary-bg, the-orange, news-line-bg, dark-blue
@import "imports/layout";
@import "imports/backend_grid";
@import "imports/search_page";

.backend-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* removing outer focus flow from input fields */
textarea, input, button { outline: none; }
.text-center {
  text-align: center;
}
.small {
  font-size: 0.8em;
}
.bg-alert {
  background-color: red;
}
.alert {
  background-color: red;
  color: white;
  font-size: 2em;
}
.notice {
  @extend .alert;
  background-color: green;
}
.hide-it {
  display: none;
}
.border-right {
  border-right: 1px solid $border-color;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1252px;
    margin: 0 auto;
    position: relative;
}
.container-content {
  @extend .container;
  max-width: 1300px;
}

h1 {
  text-align: center;
  font-family: "CircularStd-Medium";
  font-size: 20px;
  text-transform: uppercase;
}
body {
  z-index: 1; // For the search window
}
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  a {
    font-family: "CircularStd-Book";
    text-decoration: none;
    color: $the-orange;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background-color: $primary-bg;
}
