/*
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

/* MEDIA SCREEN WITH BREAK IS 800 PX ! */
@import "imports/fonts";
@import "imports/colors"; // primary-bg, the-orange, news-line-bg, dark-blue
@import "imports/layout";
@import "imports/search_page";
@import "imports/background_vectors";

p {
  font-family: "CircularStd-Book";
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix {
  clear: both;
}
.tinymce {
  margin: 0 auto;
  width: 840px;
}

.mce-container {
  margin: 0 auto!important;
}
.no-margin-x {
  margin-left: 0!important;
  margin-right: 0!important;
}

.no-margin-y {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.made-by {
  padding-left: 50px;
  color: $the-orange;
  font-family: "CircularStd-Book";
}

/* removing outer focus flow from input fields */
textarea, input, button { outline: none; }
.text-center {
  text-align: center;
}
.small {
  font-size: 0.8em;
}
.bg-alert {
  background-color: red;
}
.sm {
  font-size: 0.7em!important;
}
.alert {
  background-color: red;
  color: white;
  font-size: 2em;
}
.notice {
  @extend .alert;
  background-color: green;
}
.hide-it {
  display: none;
}
.border-right {
  border-right: 1px solid $border-color;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1252px;
    margin: 0 auto;
    position: relative;
}
.container-content {
  @extend .container;
  max-width: 1300px;
}


h1 {
  text-align: center;
  font-family: "CircularStd-Medium";
  font-size: 20px;
  text-transform: uppercase;
}
body {
  z-index: 1; // For the search window
}
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  a {
    font-family: "CircularStd-Book";
    text-decoration: none;
    color: $the-orange;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background-color: $primary-bg;
}


.btn-mobile {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  cursor: pointer;
  margin: 12.8px;
  top: 0px;
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 9999999; // Above menu
}

.overview-btn-mobile {
  background-image: url(image-path('list-icon'));
  right: 0px;
}
.menu-btn-mobile {
  background-image: url(image-path('menu-icon'));
  left: 0;
  
}
.overview-btn-mobile.active {
  outline: 13px solid $work-overview-background;
}
.menu-btn-mobile.active {
  // outline: 13px solid $work-overview-background;
}



.only-on-mobile {
  display: none;
}
$nav_height_on_mobile: 75px;
@media screen and (max-width: 850px) {
  .only-on-mobile {
    display: block;
  }
  .not-on-mobile {
    display: none!important;
  }

  .search-wrapper {
    top: $nav_height_on_mobile;
  }

  .menu-wrapper .menu-wrapper-open {
    @include justify-content(center);
  }

  .info-main-wrapper .main-column {
    width: 100%;
    margin: 0 2%;
  }
  .info-main-wrapper .info-column {
    position: relative;
    top: 0;
    width: 100%;
   .info-list {
        padding-top: 0px;
        .share-buttons {
          display: inline-block;
        }
    }
    .info-list > li {
      padding: 10px;
      margin-bottom: 0;
      text-align: center;
    }
  }
  .overview-hide {
    display: none;
  }
  .overview-column {
      left: 0;
      width: 100%;
      padding-bottom: 80px;
      h3 {
        padding-top: 60px;
        padding-left: 0!important;
        text-align: center;
      }
      .overview-box {
        width: 90%;
        min-height: 140px;
        .overview-image {
          background-position: 50% 50%;
          float: left;
          width: 40%;
          margin: 10px 5%;
          max-width: 245px;
          height: 20vw;
          padding: 0 20px;
          min-height: 100px;
        }
        .overview-info-wrapper {
          width: 42%;
          float: left;
          margin: 0 4%;
          .overview-info {
            clear: both;
          }
        }
      }

  }
  .navbar {
    height: $nav_height_on_mobile;
    background-color: $primary-bg;
    .project-name-wrapper {
        padding-top: 0!important;
        width: auto;
        text-align: center;
        margin: 0px auto;
        .project-name {
          padding-left: 0!important;
          margin-top: 6px!important;
        }
        .odyssey-logo {
          position: relative;
          display: inline-block;
        }
    }
  }
}

