@import 'imports/colors';
@import 'imports/fonts';
@import 'imports/mixins';

.newsline {
  background-color: $news_line;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  .newsline-wrapper {
    position: relative;
    display: inline-block;
    width: auto;
    white-space: nowrap;
    height: 100%;
  }
  a {
    color: black;
    span {
      font-size: 23px;
      text-transform: uppercase;
      margin: 4px 0 2px 0;
      padding: 0 10px;
      font-family: inherit; 
    }
  }
}

