@import "imports/mixins";
@import "imports/colors";

.category {
  text-align: center;
  .cat-overview-box {
    min-width: 250px;
    vertical-align: top;

    display: inline-block;
    width: 18%;
    margin: 1%;
    min-width: 250px;
    cursor: pointer;
    @media screen and (max-width: 850px) {
      min-width: 200px;
      width: 15%;
    }
    .cat-overview-title {
      text-align: left;
      font-family: "CircularStd-Medium";
      font-size: 15px;
      text-transform: uppercase;
      margin-top: 11px; 
      margin-bottom: 1px;
      background-color: $primary-bg;
    }
    .cat-overview-image {
      background-repeat: no-repeat;
      background-size: cover;
      height: 145px;
      width: 100%;
    }
    .cat-overview-info {
      background-color: $primary-bg;
      color: $gray-overview;
      font-size: 14px;
      font-family: "CircularStd-Book";
      width: 50%;
      float: left;
      text-align: left;
      margin-top: 0; 
      margin-bottom: 0;
    }
  }
}
.themes-wrapper {
  padding-top: 20px;
  .themes {
    @include column-count(2);
    @include column-gap(0px); // Er nødvendig for at der ikke er noget 'gab' Mac Demarco!
    width: 100%;
    .theme-show {
      opacity: 1!important;
    }
    .theme {
      @include transition(opacity .4s linear); // .theme-show
      opacity: 0; // For transition 
      break-inside: avoid-column;
      color: black;
      display: inline-block;
      height: auto;
      margin-bottom: 50px;
      min-height: 100%;
      padding: 34px 34px;
      page-break-inside: avoid;
      position: relative;
      width: 100%;
      & > p {
          text-align: justify;
      }
      h2 {
        font-family: "CircularStd-Medium";
        text-transform: uppercase;
      }
      img {
        @include calc(width, '100% - 100px');
        @include transition(opacity .4s ease-out);
        left: 50px;
        opacity: 1;
        position: absolute;
        top: 100px;
        &:hover {
          opacity: 0;
        }
      }
    }
    @media screen and (max-width: 800px) { // for .themes
      @include column-count(1);
      .work {
        padding: 10px 20px;
      }
    }
  }
}


