@import 'imports/colors';
@import 'imports/mixins';
@import 'imports/fonts';

$window-width: 1300;
$info-column-width: percentage(115/$window-width);
$main-column-width: percentage(735/$window-width);
$info-main-wrapper-width: percentage(850/$window-width);
$overview-column-width: percentage(450/$window-width);


iframe {
  width: 100%;
  padding: 10px;
}
.info-main-wrapper {
  @include flex;
  @include flex-wrap(wrap);
  .main-column {
    padding-bottom: 100px;
    height: 100vh;
    width: $main-column-width;
    overflow-y: visible;
    margin-left: $info-column-width;
    h2 {
      text-transform: uppercase;
      margin-top: 30px;
      font-size: 20px;
    }
    #slideUpImage {
      display: block;
      margin: 1px auto;
    }
    p {
      font-weight: 100;
      padding: 2px 9%;
      text-align: left;
      img {
        width: 100%!important;
      }
    }
  }
  .info-column {
    position: fixed;
    top: 60px;
    width: $info-column-width;
    padding-right: 22px;
    padding-left: 4px;
    .info-list {
      padding-left: 0;
      padding-top: 60px;
      list-style: none;
      li {
        color: $info-font;
        font-family: "CircularStd-book";
        margin-bottom: 23px;
      }
      .share-buttons {
        @include border-radius(100%);
        width: 30px;
        height: 30px;
        margin-top: 4px;
        display: block;
        color: white;
        font-family: "CircularStd-Medium";
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        background-color: $the-orange;
      }
    }
  }
}

.overview-column {
  background-color: $work-overview-background;
  display: block;
  height: 100%;
  left: $info-main-wrapper-width;
  min-width: 245px; //image
  overflow-y: scroll;
  padding-bottom: 100px;
  position: fixed;
  top: 0px;
  width: $overview-column-width;

  .overview-box {
    cursor: pointer;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 60px;
    width: 310px;
    z-index: 999;
    &:first-of-type {
      margin-top: 90px;
      padding-top: 0px;
    }
  }
  .overview-header {
    background-color: $work-overview-background;
    padding-bottom: 35px;
    font-family: "CircularStd-Medium";
    font-size: 20px;
    padding-left: 60px;
    position: fixed;
    width: 100%;
    margin-top: 0;
    padding-top: 20px;
  }
  .overview-title {
    font-family: "CircularStd-Medium";
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 11px; 
    margin-bottom: 1px;
    background-color: $primary-bg;
  }
  .overview-info {
    background-color: $primary-bg;
    color: $gray-overview;
    font-size: 14px;
    font-family: "CircularStd-Book";
    width: 50%;
    float: left;
    margin-top: 0; 
    margin-bottom: 0;
  }
  .overview-image {
    @include transition(opacity .4s ease-out);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    height: 145px;
    width: 245px;
  }
  .overview-image-show {
    opacity: 1;
  }
  #currentCross {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='1'/></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
    width: 100%;
    height: 100%;
  }
}//overview-column

$kilder_right: 58px;
$goer_right: 116px;
$boxes_top: 90px;
$info_max_width: 850px;

.info-right-boxes {
  @include calc(height, '100% - #{$boxes_top}');
  position: fixed;
  top: $boxes_top;
  font-size: 16px;
  font-family: "CircularStd-Book";
  overflow-y: scroll;
  h3 {
    cursor: pointer;
    padding: 0px 10px;
    position: fixed;
    margin-top: 5px;
  }
  .kilde-wrapper-relative {
    width: 92%;
    margin: 10px 3%;
    margin-right: 5%;
    position: relative;
    height: 100%;
    .kilde-box {
      @include flex;
      overflow: hidden;
      .source-image {
        padding: 5%;
        padding-right: 2%;
        .source-image-inner {
          background-size: cover;
          background-repeat: no-repeat;
          width: 160px;
          height: 160px;
          margin: 0 auto;
        }
      }
      .source-content {
        width: 69%;
        padding: 10px 4%;
        float: left;
        color: $border-color;
        .source-link {
          color: $dark-blue;
          display: block;
          text-align: center;
          padding-top: 20px;
          width: 100%;
        }
        .to-do-link {
          color: $the-orange!important;

        }
      }
    }
  }
  $mobile_btn_height: 60px;
  @media screen and (max-width: 850px) { // .info-right-boxes
    @include calc(height, '80% + #{$mobile_btn_height}');
    top: 100%;
    margin-top: -$mobile_btn_height;
    margin-left: 0!important;
    width: 50%!important;
    text-align: center;
  }
}
.goer {
  @include transition(all .2s linear);
  @include calc(width, '60% + #{$goer_right}');
  left: 100%;
  margin-left: -$goer_right;
  background-color: white;
  color: black;
  z-index: 9995;
  &:hover {
    left: 99%;
  }
  @media screen and (max-width: 850px) {
    left: 0!important;
  }
}
.kilder {
  @include transition(all .2s linear);
  @include calc(width, '60% + #{$kilder_right}');
  left: 100%;
  margin-left: -$kilder_right;
  background-color: black;
  color: white;
  z-index: 9999;
  &:hover {
    left: 99%;
  }
  @media screen and (max-width: 850px) {
    left: 50%!important;
  }
}
.info-box-opened {
  left: 40%!important;
  @media screen and (max-width: 850px) {
    left: 0!important;
    width: 100%!important;
    top: 20%!important;
  }
}
#closeInfoBoxes, .close-info-boxes-init {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; // Above .navbar, but under info-boxes
}


