@import 'imports/colors';
@import 'imports/mixins';
@import 'imports/fonts';

$window-width: 1300;
$info-column-width: percentage(115/$window-width);
$main-column-width: percentage(735/$window-width);
$info-main-wrapper-width: percentage(850/$window-width);
$overview-column-width: percentage(450/$window-width);


.info-main-wrapper {
  @include flex;
  @include flex-wrap(wrap);
  .main-column {
    padding-bottom: 100px;
    height: 100vh;
    width: $main-column-width;
    overflow-y: visible;
    margin-left: $info-column-width;
    h2 {
      text-transform: uppercase;
      margin-top: 30px;
      font-size: 20px;
    }
    #slideUpImage {
      display: block;
      margin: 1px auto;
    }
    p {
      padding: 2px 9%;
      text-align: justify;
    }
  }
  .info-column {
    position: fixed;
    top: 60px;
    width: $info-column-width;
    padding-right: 30px;
    .info-list {
      padding-left: 0;
      padding-top: 60px;
      list-style: none;
      li {
        color: $info-font;
        font-family: "CircularStd-book";
        margin-bottom: 23px;
      }
      .share-buttons {
        @include border-radius(100%);
        width: 30px;
        height: 30px;
        margin-top: 4px;
        display: block;
        color: white;
        font-family: "CircularStd-Medium";
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        background-color: $the-orange;
      }
    }
  }
}

.overview-column {
  background-color: $work-overview-background;
  height: 100%;
  left: $info-main-wrapper-width;
  min-width: 245px; //image
  overflow-y: scroll;
  padding-bottom: 100px;
  position: fixed;
  top: 0px;
  width: $overview-column-width;

  .overview-box {
    cursor: pointer;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 60px;
    width: 310px;
    z-index: 999;
  }
  .overview-header {
    margin-bottom: 60px;
    font-family: "CircularStd-Medium";
    font-size: 20px;
    padding-left: 60px;
  }
  .overview-title {
    font-family: "CircularStd-Medium";
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 11px; 
    margin-bottom: 1px;
    background-color: $primary-bg;
  }
  .overview-info {
    background-color: $primary-bg;
    color: $gray-overview;
    font-size: 14px;
    font-family: "CircularStd-Book";
    width: 50%;
    float: left;
    margin-top: 0; 
    margin-bottom: 0;
  }
  .overview-image {
    @include transition(opacity .4s ease-out);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    height: 145px;
    width: 245px;
  }
  .overview-image-show {
    opacity: 1;
  }
  #currentCross {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='1'/></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
    width: 100%;
    height: 100%;
  }
}//overview-column

$kilder_right: 58px;
$goer_right: 116px;

.info-right-boxes {
  position: fixed;
  top: 90px;
  font-size: 16px;
  font-family: "CircularStd-Book";
  height: calc(100% - 90px);
  h3 {
    cursor: pointer;
    padding: 0px 10px;
  }
}
.info-box-opened {
  left: 40%!important;
}
#closeInfoBoxes {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.goer {
  @include transition(left .2s linear);
  @include calc(width, '60% + #{$goer_right}');
  left: 100%;
  margin-left: -$goer_right;
  background-color: white;
  color: black;
  z-index: 99;
  &:hover {
    left: 97%;
  }
}
.kilder {
  @include transition(left .2s linear);
  @include calc(width, '60% + #{$kilder_right}');
  left: 100%;
  margin-left: -$kilder_right;
  background-color: black;
  color: white;
  z-index: 9999;
  &:hover {
    left: 98%;
  }
}
